@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/segoe-ui-normal.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/segoe-ui-bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/segoe-ui-italic.ttf");
    font-style: italic;
}

@font-face {
    font-family: "Segoe UI";
    src: url("../fonts/segoe-ui-light.ttf");
    font-weight: 100;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E9E9E9;
    font-family: "Segoe UI";
    font-size: 1.2em;
    font-weight: 100;
    color: #272727;
}

.reserved, .main-window, .description-window {
    border: 1px solid #454545;
}

.main-window {
    width: 600px;
    height: 600px;
}

.item, .item-cloned {
    z-index: 10;
    border: 1px solid #999999;
    border-radius: 5px;
    text-align: center;
}

.item p {
    cursor: default;
}

.ui-selected {
    color: red;
}

.file-control {
    margin: 0 auto 20px;
}

.root-item {
    padding: 5px;
    font-weight: bold;
    min-width: 100px;
    max-width: 300px;
    width: 100px;
    border: 1px solid #4e4e4e;
    border-radius: 5px;
    background: #2b2b2b;
    color: #f0f0f0;
    position:absolute;
    z-index: 50;
}

.mm-button {
    width: 20px;
    height: 20px;
    border:1px solid #1c7430;
    border-radius: 10px;
    float: right;
    lear:left;
    line-height: 0;
}

.root-item p {
    display: inline-block;
}

.child-item {
    position:absolute;
    padding: 5px;
    margin: 0;
    min-width: 100px;
    max-width: 300px;
    width: 100px;
    border: 1px solid #4e4e4e;
    border-radius: 5px;
    background: #2b2b2b;
    color: #f0f0f0;
    z-index: 50;
}

.main-window svg {
    position: absolute;
    z-index: 1;
    width: 1000px;
    height: 1000px;
    top:0;
}

.children svg line {
    z-index: 1;
}

.child-item button {
    z-index: 150;
}

.item-editor {
    z-index:50;
}

.item-description {

}